.advertising-frame {
    height: 100px;
    // background-image: url(images/imagen-publicitaria-2.png);
    background-repeat: no-repeat;
    background-position: 80% 10%;
    background-size: cover;
    height: 400px;
    width: 100%;
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-style: oblique;
    background-color: azure;


    animation: banner 20s infinite linear alternate;

    @keyframes banner {
        0%, 20% {
            background-image: url(images/imagen-publicitaria-2.png);
        }
        25%, 45% {
            background-image: url(images/imagen-publicitaria-1.png);
        }
        55%, 69% {
            background-image: url(images/imagen-publicitaria-3.png);
        }
        70%, 88% {
            background-image: url(images/imagen-publicitaria-4.png);
        }
        90%, 100% {
            background-image: url(images/imagen-publicitaria-5.png);
        }
    }

    .flex-start {
        width: 30%;
        font-size: 20px;
        text-shadow: 9px 7px 12px rgb(42, 92, 240);
    }

    .advertising__logo {
        height: 100px;
    }
}